/*
* Global
*/

html {
  font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
	font-family: $main_font;
	@include fontSize(14);
}

a {
	color: $basic_black;
	text-decoration: none;
	@include transition(color .4s);
}

/*
* Classes
*/

.wrapper {
	width: 95%;
	max-width: $max_layout;
	margin: auto;

	@include tablet {
		width: 90%;
	}
}

#content { display: none; }
