@font-face {
  font-family: 'pa-font';
  src: url('~@/fonts/icons/pa-font.eot');
  src: url('~@/fonts/icons/pa-font.eot#iefix') format('embedded-opentype'),
       url('~@/fonts/icons/pa-font.ttf') format('truetype'),
       url('~@/fonts/icons/pa-font.woff') format('woff'),
       url('~@/fonts/icons/pa-font.svg#icomoon') format('svg');
  font-style: normal;
  font-weight: normal;
}

[class^="icon-"],
[class*="icon-"] {
  font-family: 'pa-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow::before {
  content: '\e900';
}

.icon-instagram::before {
  content: '\e901';
}

.icon-twitter::before {
  content: '\e902';
}

.icon-facebook::before {
  content: '\e903';
}
