/*
* Font size
*/

@mixin fontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 10) + rem;
}

/*
* Transition
*/

@mixin transition($rule) {
	transition: $rule ease-in-out;
}

/*
* Breakpoints
*/

@mixin custom-break($break) {
  @media only screen and (max-width: $break) {
    @content;
  }
}

@mixin custom-break-min($break) {
  @media only screen and (min-width: $break) {
    @content;
  }
}

@mixin custom-break-between($breakstart, $breakend) {
  @media only screen and (max-width: $breakstart) and (min-width: $breakend) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-to-mobile {
  @media only screen and (max-width: $tablet) and (min-width: $mobile) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}
