/*
* Main colors
*/

$basic_white: #fff;
$basic_black: #000;

$main_color: #cbc09b;

$main_grey: #e5e5e5;

$shade_grey: #9b9b9b;

/*
* Main fonts
*/

$main_font: Georgia, 'Times New Roman';

/*
* Layouts
*/

$max_layout: 1600px;

/*
* Breakpoints
*/

$tablet: 960px;
$mobile: 680px;